{{- if .Values.mlflow.backup.enabled }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "mlflow.fullname" . }}-postgres-backup
  labels:
    {{- include "mlflow.labels" . | nindent 4 }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: db-backup-restore
  template:
    metadata:
      labels:
        app: db-backup-restore
      annotations:
        backup.velero.io/backup-volumes: backup
        pre.hook.backup.velero.io/command: '["/scripts/db-backup.sh"]'
        pre.hook.backup.velero.io/timeout: "10m"
    spec:
      volumes:
        - name: backup
          emptyDir: {}
        - name: scripts
          configMap:
            name: {{ include "mlflow.fullname" . }}-backup-scripts
            defaultMode: 0777
      initContainers:
        - name: wait-for-postgresql
          image: docker.io/bitnami/postgresql:15.3.0-debian-11-r0
          imagePullPolicy: {{ .Values.mlflow.image.pullPolicy }}
          command:
            [
              "sh",
              "-c",
              "until PGPASSWORD=$POSTGRES_PASSWORD psql -U $POSTGRES_USER -h $POSTGRES_HOST -p 5432 -d $POSTGRES_DB -c 'SELECT 1'; do sleep 1; done;",
            ]
          envFrom:
            - secretRef:
                name: {{ printf "%s-waitfor-postgres" (include "mlflow.fullname" .)  | trunc 63 | trimAll "-" }}
        - name: restore-db
          image: docker.io/bitnami/postgresql:15.3.0-debian-11-r0
          imagePullPolicy: {{ .Values.mlflow.image.pullPolicy }}
          command: ["/bin/sh", "/scripts/db-restore.sh"]
          envFrom:
            - secretRef:
                name: {{ printf "%s-waitfor-postgres" (include "mlflow.fullname" .)  | trunc 63 | trimAll "-" }}
          volumeMounts:
            - name: backup
              mountPath: /backup
            - name: scripts
              mountPath: /scripts
      containers:
        - name: sleep
          image: docker.io/bitnami/postgresql:15.3.0-debian-11-r0
          command: ["sh", "-c", "sleep infinity"]
          envFrom:
              - secretRef:
                  name: {{ printf "%s-waitfor-postgres" (include "mlflow.fullname" .)  | trunc 63 | trimAll "-" }}
          volumeMounts:
            - name: backup
              mountPath: /backup
            - name: scripts
              mountPath: /scripts
      securityContext:
        fsGroup: 1001
        runAsUser: 1001
{{- end }}
