# Helm-specific ignores
**/charts/*.tgz

# Ignore Helm dependency directories
**/charts/*.lock

# General files to ignore
*.log
*.gz
*.tar
*.tgz

# Ignore IDE and editor folders
.idea/
.vscode/
*.swp
*.bak
*.tmp
*.temp

# System-specific ignores
.DS_Store
Thumbs.db

# Python ignores
*.pyc
*.pyo
*.pyd
__pycache__/

# Terraform ignores
.terraform
.terraform.lock.hcl
terraform.tfvars
.terraform.tfstate*
backend.tf
