# Helm-specific ignores
**/charts/*.tgz
**/.specstory/


# Ignore Helm dependency directories
**/charts/*.lock

# General files to ignore
*.log
*.gz
*.tar
*.tgz

# Ignore IDE and editor folders
.idea/
.vscode/
*.swp
*.bak
*.tmp
*.temp

# System-specific ignores
.DS_Store
Thumbs.db
.envrc

# Python ignores
*.pyc
*.pyo
*.pyd
__pycache__/
