# Helm-specific ignores
**/charts/*.tgz
**/.specstory/

# General files to ignore
*.log
*.gz
*.tar
*.tgz

# Ignore IDE and editor folders
.idea/
.vscode/
*.swp
*.bak
*.tmp
*.temp

# System-specific ignores
.DS_Store
Thumbs.db
.envrc

# Python ignores
*.pyc
*.pyo
*.pyd
__pycache__/

# Terraform
*.tfvars
*.terraform
*.tfplan
*.tfstate
*.tfstate.backup
*.tfvars.json
*.tfvars.json.lock

# Misc
.env

# Cursor
.cursor/

# Mlflow specific
applications/mlflow/tests/.venv/
**/charts/.rendered-templates/

# wg-easy specific
*.kubeconfig
applications/wg-easy/release/
.aider*
# SpecStory explanation file
.specstory/.what-is-this.md
preflightbundle-*.tar.gz
