crdCheck:
  # -- Specifies whether to enable the CRD check job
  enabled: true
  # -- Image details for the CRD check job
  image:
    # -- Image registry
    registry: registry.k8s.io
    # -- Image repository
    repository: kubectl
    # -- Image tag
    tag: "v1.33.4"
  # -- CRDs to check
  crds:
    - name: tenants.minio.min.io
    - name: clusters.postgresql.cnpg.io
  # -- Timeout in seconds for the CRD check job
  timeout: 60
  # -- Image pull secrets for the CRD check job
  imagePullSecrets: []

cloudnative-pg:
  enabled: true
  fullnameOverride: "cloudnative-pg"

minio-operator:
  enabled: true
