{{- if .Values.crdCheck.enabled }}
apiVersion: batch/v1
kind: Job
metadata:
  name: {{ include "crdCheck.fullname" . }}
  annotations:
    "helm.sh/hook": post-install,post-upgrade
    "helm.sh/hook-weight": "-5"
    "helm.sh/hook-delete-policy": hook-succeeded
spec:
  template:
    spec:
      serviceAccountName: {{ include "crdCheck.fullname" . }}
      {{- with .Values.crdCheck.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
      - name: crd-check
        image: "{{ .Values.crdCheck.image.registry | default "docker.io" }}/{{ .Values.crdCheck.image.repository }}:{{ .Values.crdCheck.image.tag | default (printf "v%s" .Chart.AppVersion) }}"
        command: ["kubectl"]
        args:
          - "wait"
          - "--for=condition=Established"
          {{- range .Values.crdCheck.crds }}
          - "crd/{{ .name }}"
          {{- end }}
          - "--timeout={{ .Values.crdCheck.timeout }}s"
      restartPolicy: OnFailure
{{- end }}
